@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    background-color: blue;
    width: 300px;
    height: 300px;
    padding: 100px;
    box-sizing: border-box;
}
.child{
    background-color: azure;
    padding: 20px;
    width: 100px;
    height: 100px; 
    box-sizing: border-box;
}
input{
    width:30px;
    margin: auto 10px;
}