body{
    background-color: lightgray;
    text-align: center;
}
form{
    background-color: rgba(128, 128, 128, 0.466);
   border-radius: 20px;
    text-align: center;
    width:clamp(360px, 50%, 600px);
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 50px white;

}
input{
    display: block;
    margin: 10px auto;
    
}
